/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar {
    background-color: #262626; 
    border-color: #262626;
    box-shadow: 2px 2px 5px #888888;
    font-family: 'Arvo', serif;
}

.navbar-brand {
    font-weight: bold; 
    color: gainsboro !important;
    font-size: 40px;
}

.nav .navbar-text {
    color: gray !important;
    font-size: 12px;
}

.nav li a{
    color: gainsboro !important;
    font-size: 16px;
}

.nav li a:hover {
    text-decoration: underline
}

.navbar button a{
    font-family: 'Arvo', serif;
    font-weight: bold; 
    font-size: 16px;
    color: #262626;
}

.navbar button a:hover {
    background-color: transparent;
}

// ALL POSTS VIEW 
#allPosts{
    font-family: 'Arvo', serif;
}

#allPosts h1{
    font-weight: bold;
    font-size: 18px;
}

#allPosts h1 a {
    color: #262626;
}

#allPosts h4 {
    color: grey;
    font-size: 14px;
}

.pageHeader {
    color: #262626; 
    font-family: 'Arvo', serif;
    font-weight: bold; 
    margin-bottom: 25px;
}